@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

html,
body {
    height: 100%;
    padding: 0px;
    margin: 0;
}

main {
    background-color: #0D1A2DFF;
    font-family: outfit;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #15273FFF;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgwrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.eqimg {
    width: 100%;
    border-radius: 3%;
}

.fill {
    position: absolute;
    background-color: hsla(178, 100%, 50%, 0.3);
    width: 78.5%;
    height: 27.5%;
    border-radius: 3%;
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
}

.fill:hover {
    opacity: 1;
    cursor: pointer;
}

.title {
    color: #F9FFFFFF;
    font-weight: 600;
}

.title:hover {
    color: hsla(178, 100%, 50%);
    cursor: pointer;
}

.description {
    color: #869BBAFF;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 5%;
}

.costandtime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
}

.cost {
    color: #3AF3F8FF;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ethicon {
    height: fit-content;
    margin-right: 5px;
}

.timeleft {
    color: #88ADD9FF;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clockicon {
    height: fit-content;
    margin-right: 5px;
}

hr {
    width: 100%;
    color: #869BBAFF;
    margin-top: 0;
    margin-bottom: 0;
}

.nftautor {
    color: #869BBAFF;
    font-weight: 300;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

.avatar {
    border: 1px solid white;
    border-radius: 20px;
    width: 10%;
    margin: 0 20px 0 0;
    padding: 0;
}

span {
    color: #F9FFFFFF;
}

.credit:hover {
    color: hsla(178, 100%, 50%);
    cursor: pointer;
}

@media only screen and (min-width: 376px) {

    .card {
        width: 15%; 
    }
}

@media screen and (min-width: 376px) {
    .card {
        width: 20%;
    }

    .fill {
        width: 19.8%;
        height: 37%;
    }
}
